openapi: 3.0.0
servers:
  - url: 'https://injiverify.collab.mosip.net/v1/verify'
tags:
  - name: Presentation Definition Management
    description: APIs for Presentation Definition related operations
  - name: VC Submission
    description: APIs for Verifiable Credential Submission related operations
  - name: VC Verification
    description: APIs for Verifiable Credential Verification related operations
  - name: VP Request
    description: APIs for Verifiable Presentation Authorization Request related operations
  - name: VP Submission
    description: APIs for Verifiable Presentation submission related operations
  - name: VP Results
    description: APIs for Verifiable Presentation Results related operations
info:
  title: OpenID4VP Verifier API - Inji Verify
  version: 1.0.2
  contact:
    name: MOSIP
    url: 'https://mosip.io'
    email: mosip.emailnotifier@gmail.com
  license:
    name: MPL-2.0
    url: 'https://www.mozilla.org/en-US/MPL/2.0/'
  description: API for VC verification and OpenID4VP
paths:
  /vp-request:
    post:
      summary: Initiate a  new VP Request
      description: |-
        ## Description
        This endpoint initiates a **Verifiable Presentation (VP) request**. It represents the first step a verifier takes to request credentials from a wallet.

        ---

        ## Request

        The request body **must include**:

        - `clientId`
        - **One of the following**:
          - `presentationDefinitionId` — Reference to an existing presentation definition  
          - `presentationDefinition` — Full presentation definition object  

        ### transactionId

        - Optional field  
        - Must be a **unique UUID** if provided  
        - If not provided, the system generates a value with prefix:  `txn_<uuid>`


        ### requestId

        - Automatically generated for each `transactionId`  
        - Format:  `req_<uuid>`

        - Used to create the **Authorization Request** in the OpenID4VP flow  

        ---

        ## Response

        The response is used by the UI application to generate a **QR code / Deep Link** for wallet consumption.

        ### Notes

        - As of latest version `0.18.x`, the response contains a mix of:
          - `camelCase`
          - `snake_case`
        - The UI application **must normalize attribute formats** before generating the QR code or share Auth Request via Deep Link.

        ---

        ## Authorization Request Delivery Modes

        ### 1. By Value

        - Full request object is returned  
        - `clientId` can be a simple string (e.g., client name)  

        ### 2. By Reference

        - A `request_uri` is returned pointing to the request  
        - `clientId` **must be a valid DID URL** representing the verifier  

        ---

        ## Version-Specific Behavior

        ### From `0.17.x`

        - Added `acceptVPWithoutHolderProof` *(default: `false`)*  

        | Value | Behavior |
        |------|----------|
        | `true` | Wallet can submit an **unsigned Verifiable Presentation** (no proof required) |
        | `false` | Verifiable Presentation **must include proof**; otherwise `/vp-results` returns an error |

        ---

        ### From `0.18.x`

        - Added `responseCodeValidationRequired` *(default: `false`)*  

        #### Behavior

        - If `true`:
          - `/vp-submission` returns:
            - `redirect_uri`
            - `response_code`
        - If `false`:
          - `/vp-submission` returns **HTTP `200 OK` only**

        ---

        ## Recommended Values by Flow

        | Flow Type                         | response Code Validation Required | COMMENTS |
        |----------------------------------|--------------------------------|--------------|
        | Cross Device Flow                | false                          | Verify UI and Wallets run on separate devices.             | 
        | Same Device Flow – Web Wallet    | true                           | Web wallets redirects user to redirect_uri, after VP submission             |
        | Same Device Flow – Mobile Wallet | false                          | User manually switches from Mobile Wallet to Verify UI, after VP submission             |

        ---
      operationId: createVPRequest
      tags:
        - VP Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPRequestCreate'
            example:
              clientId: client123
              presentationDefinitionId: age_verification
      responses:
        '201':
          description: |-
            The Verifiable Presentation (VP) request was created successfully. The response includes a `transactionId` and a `requestId`, along with either:

            - The full `authorizationDetails` object, or

            - A `requestUri` pointing to the authorization request.

            This information can be used by the client application to generate a QR code or otherwise initiate the VP flow with the wallet.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VPRequestResponse'
                  - $ref: '#/components/schemas/VPRequestResponseByReference'
              examples:
                by_value:
                  summary: 'In this flow the wallet can receive the entire request payload directly.  All necessary authorization details, including the presentation definition, nonce, and responseUri, are provided in a single API response, eliminating the need for the wallet to make a separate call to fetch the request.'
                  value:
                    transactionId: txn_f82f281e-8d96-419b-b413-5a0459739a7b
                    requestId: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
                    authorizationDetails:
                      responseUri: 'https://injiverify.collab.mosip.net/v1/verify/vp-submission/direct-post'
                      responseType: vp_token
                      responseMode: direct_post
                      clientId: client123
                      nonce: aShdFjAhdSFJlKasdF
                      presentationDefinition:
                        id: age_verification
                        input_descriptors:
                          - id: age_credential
                            format:
                              jwt_vc: {}
                            constraints:
                              fields:
                                - path:
                                    - $.vc.credentialSubject.age
                                  filter:
                                    type: number
                                    minimum: 18
                      iat: 1752838929
                    expiresAt: 1752838929
                by_reference:
                  summary: 'Instead of the full payload, the response provides a `requestUri` which the wallet must resolve to retrieve the authorization details. This keeps the QR code payload small and enables more complex or larger presentation definitions. This feature is available only from Inji Verify 0.14.0'
                  value:
                    transactionId: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
                    requestId: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    requestUri: 'https://example.com/vp-requests/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    expiresAt: 1752838929
        '400':
          description: The request failed due to an invalid or missing field in the request body.
        '404':
          description: The specified `presentationDefinitionId` was not found on the server.
  /vp-session-request:
    post:
      summary: Initiate VP Session Request
      description: |
        ## Description
        This endpoint initiates a **Verifiable Presentation (VP) session request**. It is similar to `/vp-request`, but additionally establishes a session using cookies.

        **The request body is the same as `/vp-request`**, along with the addition of the new attribute:
        `responseCodeValidationRequired`.

        ---

        ## Request

        The request body **must include**:
        - `clientId`
        - One of:
          - `presentationDefinitionId`, or
          - `presentationDefinition`

        ### responseCodeValidationRequired

        - Boolean flag controlling response behavior in subsequent `/vp-submission` flow
        - Default: `false`

        ### transaction_id

        - Optional field  
        - Must be a **unique UUID** if provided  
        - If not provided, the system generates: `txn_<uuid>`
         

        ### request_id

        - Automatically generated for each `transaction_id`  
        - Format: `req_<uuid>`
        ---

        ## Endpoint Behavior

        Upon receiving the request, the server:

        - Generates:
          - `transaction_id`
          - `request_id`
        - Creates the **Authorization Request**
        - Returns the Authorization Request payload in the response

        ---

        ## Response

        The response contains:
        - Authorization Request payload (used by UI to generate QR code or redirect)
        - base64Encoded `transaction_id` set as a cookie

        ### Cookie Behavior

        The `transaction_id` is base64Encoded and is set as an **HttpOnly cookie**:

        #### Response Header

        `Set-Cookie: transaction_id=<base64EncodedUuid>; HttpOnly; Secure
        `

        #### Cookie Configuration

        **Production:**
        - `HttpOnly = true`
        - `Secure = true`
        - `SameSite = None`
        - `Path = /`
        - `Max-Age = 15`

        **Local Environment:**
        - `HttpOnly = true`
        - `Secure = false`
        - `SameSite = Lax`
        - `Path = /`
        - `Max-Age = 15`

        **These values are configurable and environment-dependent.**

        ---

        > Important Notes:
        > - The `transaction_id` is base64Encoded and set as an HttpOnly cookie is **only set by this endpoint** (`/vp-session-request`)
        > - It is **not set** in the `/vp-request` endpoint
        > - This endpoint is intended for **session-based flows**
      operationId: createVPSessionRequest
      tags:
        - VP Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPRequestCreate'
            example:
              clientId: client123
              presentationDefinitionId: age_verification
      responses:
        '201':
          description: |-
            The Verifiable Presentation (VP) request was created successfully. The response includes a `transactionId` and a `requestId`, along with either:

            - The full `authorizationDetails` object, or

            - A `requestUri` pointing to the authorization request.

            This information can be used by the client application to generate a QR code or otherwise initiate the VP flow with the wallet.
          headers:
            Set-Cookie:
              description: HttpOnly cookie containing base64Encoded transaction_id
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VPRequestResponse'
                  - $ref: '#/components/schemas/VPRequestResponseByReference'
              examples:
                by_value:
                  summary: 'In this flow the wallet can receive the entire request payload directly.  All necessary authorization details, including the presentation definition, nonce, and responseUri, are provided in a single API response, eliminating the need for the wallet to make a separate call to fetch the request.'
                  value:
                    transactionId: txn_f82f281e-8d96-419b-b413-5a0459739a7b
                    requestId: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
                    authorizationDetails:
                      responseUri: 'https://injiverify.collab.mosip.net/v1/verify/vp-submission/direct-post'
                      responseType: vp_token
                      responseMode: direct_post
                      clientId: client123
                      nonce: aShdFjAhdSFJlKasdF
                      presentationDefinition:
                        id: age_verification
                        input_descriptors:
                          - id: age_credential
                            format:
                              jwt_vc: {}
                            constraints:
                              fields:
                                - path:
                                    - $.vc.credentialSubject.age
                                  filter:
                                    type: number
                                    minimum: 18
                      iat: 1752838929
                    expiresAt: 1752838929
                by_reference:
                  summary: 'Instead of the full payload, the response provides a `requestUri` which the wallet must resolve to retrieve the authorization details. This keeps the QR code payload small and enables more complex or larger presentation definitions. This feature is available only from Inji Verify 0.14.0'
                  value:
                    transactionId: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
                    requestId: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    requestUri: 'https://example.com/vp-requests/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
                    expiresAt: 1752838929
        '400':
          description: The request failed due to an invalid or missing field in the request body.
        '404':
          description: The specified `presentationDefinitionId` was not found on the server.
  '/vp-request/{requestId}':
    get:
      summary: Get VP Request JWT
      description: |-
        ## Description
        This endpoint allows a client to retrieve a Verifiable Presentation (VP) request in its JSON Web Token (JWT) format. This is especially useful for cross-device flows, where a wallet fetches the request details from a URI rather than receiving it directly.

        This feature was introduced in version `0.14.x` to support Authorization Requests by reference (`request_uri`).
      operationId: getVPRequestJwt
      tags:
        - VP Request
      parameters:
        - name: requestId
          description: The Request Id for which you want to retrieve the JWT.
          in: path
          required: true
          schema:
            type: string
          example: req_12345
      responses:
        '200':
          description: The VP Request JWT was successfully retrieved. The response body is the JWT string itself.
          content:
            application/oauth-authz-req+jwt:
              schema:
                type: string
                format: jwt
                example: eyJhbGciOiJFRERTQSIsInR5cCI6Im9hdXRoLWF1dGh6LXJlcStqd3QiLCJraWQiOiJkaWQ6ZXhhbXBsZTppc3N1ZXItZGVmYXVsdC1rZXkifQ.eyJjbGllbnRfaWQiOiJkaWQ6ZXhhbXBsZTpjbGllbnQiLCJpc3MiOiJkaWQ6ZXhhbXBsZTpjbGllbnQiLCJyZXNwb25zZV90eXBlIjoidnBfdG9rZW4iLCJyZXNwb25zZV9tb2RlIjoiZGlyZWN0X3Bvc3QiLCJub25jZSI6ImFzaGRmamFoZHNmbGprYXNkZiIsImV4cCI6MTY3ODkzMDQwMCwiaWF0IjoxNjc4OTI5ODAwfQ.EXAMPLE_EDDSA_SIGNATURE_HERE
        '404':
          description: The specified Request ID does not exist.
  '/vp-request/{requestId}/status':
    get:
      summary: Get the VP Request status
      description: |-
        ## Description
        This endpoint is used to check the current status of a specific VP request transaction. This allows the verifier to monitor whether the request has been fulfilled, is still active, or has expired.
      operationId: getVPRequestStatus
      tags:
        - VP Request
      parameters:
        - name: requestId
          description: The Request Id for which you want to get the status.
          in: path
          required: true
          schema:
            type: string
          example: req_12345
      responses:
        '200':
          description: 'The VP Request status was retrieved successfully. The status can be ''ACTIVE'', ''VP_SUBMITTED'', or ''EXPIRED''.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status'
              examples:
                active_status:
                  summary: Request is active and awaiting submission
                  value:
                    status: ACTIVE
                submitted_status:
                  summary: A Verifiable Presentation has been submitted
                  value:
                    status: VP_SUBMITTED
                expired_status:
                  summary: Request has expired
                  value:
                    status: EXPIRED
        '404':
          description: The Request ID provided is not associated with a known transaction.
  /vp-submission/direct-post:
    post:
      summary: Submit Authorization Response as a VP Token
      description: |
        ## Description
        This endpoint is used by a wallet to submit a **Verifiable Presentation (VP)** using `vp_token` and a `presentation_submission` object, typically when the `response_mode` is `direct_post`.

        Upon receiving the submission, the server:
        - Processes the Verifiable Presentation  
        - Stores it in the database  
        - Updates the transaction status  

        ---

        ## Error Handling (OpenID4VP Support)

        The following request attributes are supported for error reporting:

        - `error`
        - `error_description`

        ### Validation Rules

        - **Success case (no error):**
          - `vp_token` and `presentation_submission` are **both required**

        - **Error case:**
          - `error` must be provided  
          - `vp_token` and `presentation_submission` must be **null**  
          - `error_description` is **optional**  

        ---

        ## Changes in Release `0.18.0`

        ### Behavior

        - If `responseCodeValidationRequired = true` (from corresponding Authorization Request):
          - The endpoint returns a `redirect_uri`  
        - If `responseCodeValidationRequired = false`:
          - No `redirect_uri` is returned  

        ---

        ## response_code

        The verifier backend **includes** a fresh, cryptographically random value in the `redirect_uri`, known as `response_code`.

        ### Purpose

        The `response_code` ensures that only the intended receiver of the redirect can fetch and process the Authorization Response.

        ---

        ### Characteristics

        - **Linked** to the corresponding Authorization Response  
        - **Single-use** — invalidated immediately after redemption  
        - **Short-lived** — typically expires within **5 minutes** (configurable)  

        ---

        ## redirect_uri Format

        The verifier backend includes the `response_code` as a **hash parameter** in the `redirect_uri`.

        #### Example

        `{"redirect_uri": "<redirect_uri>#response_code=<response_code>"}`

        ----
        ## Client ID and Nonce Validations

        - The verifier backend validates whether the `challenge` and `domain` attributes in the `proof` section of the `VerifiablePresentation` match the `nonce` and `client_id` in the corresponding **Authorization Request**.
        - If the `nonce` validation fails, then the endpoint returns **400 Bad Request** status with `errorCode` as `invalid_request` and `errorMessage` as **"Nonce validation failed due to invalid nonce"**.
        - If the `client_id` validation fails, then the endpoint returns **400 Bad Request** status with `errorCode` as `invalid_request` and `errorMessage` as **"Client id validation failed due to invalid client id"**.
        - This validation is done only if `acceptVPWithoutHolderProof` is `false` in the corresponding **Authorization Request**.
        - This validation is done only for LDP_VP.

        ---
      operationId: submitResponse
      tags:
        - VP Submission
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationResponse'
            example:
              vp_token: eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJ2cCI6eyJAY29udGV4dCI6WyJodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscy92MSJdLCJ0eXBlIjpbIlZlcmlmaWFibGVQcmVzZW50YXRpb24iXSwidmVyaWZpYWJsZUNyZWRlbnRpYWwiOlsiZXlKaGJHY2lPaUpGVXpJMU5pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmhkV1FpT2lKb2RIUndjem92TDNabGNtbG1lUzVrWlhZeExtMXZjMmx3TG01bGRDOXlaWE53YjI1elpYTWlMQ0pqYkdGcGJYTWlPbnNpWVdkbElqb3hPSDBzSW1semN5STZJbWgwZEhCek9pOHZkbVZ5YVdaNUxtUmxkakV1Ylc5emFYQXVibVYwTDJselozSmhiblJsY25NaUxDSnVZbVlpT2pFMk9ESTVOekF3TURBc0ltVjRjQ0k2TVRjd05qazNNREF3TUgwLnNpZ25hdHVyZSJdfSwibm9uY2UiOiJub25jZV8xMjM0NSIsImF1ZCI6ImNsaWVudDEyMyJ9.signature
              state: state_abcde
              presentation_submission:
                id: submission_12345
                definition_id: age_verification_1
                descriptor_map:
                  - id: age_credential
                    format: jwt_vc
                    path: '$.verifiableCredential[0]'
      responses:
        '200':
          description: The response was processed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirect_uri:
                    type: string
                    nullable: true
                    description: |
                      Optional `redirect_uri` returned, if `responseCodeValidationRequired = true` in the corresponding Authorization Request.
              example:
                redirect_uri: 'https://example.com/#response_code=731c81d6-9fad-455f-9c66-681e45d59527'
        '400':
          description: |
            The submission failed due to an `invalid_request` format or missing required fields.
            Example:
            ```json
            {
                "errorCode": "invalid_request",
                "errorMessage": "Client id validation failed due to invalid client id"
            }
            ```
        '404':
          description: The transaction associated with the provided Request ID was not found.
  /vc-submission:
    post:
      summary: Submit a Verifiable Credential (VC)
      description: |-
        ## Description
        This API allows a user or system to submit a Verifiable Credential (VC) to the server. If a `transactionId` is not provided in the request, the server can generate one automatically.

        Note that this endpoint is specifically for submitting individual credentials and is distinct from a Verifiable Presentation (VP) submission.
      operationId: submitVC
      tags:
        - VC Submission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCSubmissionRequest'
            example:
              vc:
                '@context':
                  - 'https://www.w3.org/2018/credentials/v1'
                type:
                  - VerifiableCredential
                issuer: 'https://example.org/issuers/123'
                issuanceDate: '2023-01-01T00:00:00Z'
                credentialSubject:
                  id: 'did:example:abc'
                  age: 25
                proof:
                  type: Ed25519Signature2020
                  created: '2023-01-01T00:00:00Z'
                  proofPurpose: assertionMethod
                  verificationMethod: 'https://example.org/keys/1'
                  jws: eyJ...signature
              transactionId: txn_abc123
      responses:
        '200':
          description: The VC submission was accepted successfully. The response includes the transactionId for the submission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCSubmissionResponse'
              example:
                transactionId: txn_abc123
        '400':
          description: The VC was not submitted due to a bad request. The request body is malformed or missing the VC object.
  '/vp-result/{transactionId}':
    parameters:
      - schema:
          type: string
        name: transactionId
        description: The Transaction Id for which you want to get the Vp token for.
        in: path
        required: true
    get:
      summary: Get the VP results for a  given Transaction Id
      description: |-
        ## Description
        This endpoint returns the final result of a Verifiable Presentation (VP) submission. After a wallet submits a VP, this endpoint can be used to retrieve the verification status of each credential.

        **Version-specific behavior:**

        From `0.15.x` onwards,
        - the endpoint supports credentials in both JSON-LD and SD-JWT formats.

        From `0.16.x` onwards,
        - the API also performs revocation checks for JSON-LD credentials. 
        - A credential’s verification status can be `SUCCESS, INVALID, EXPIRED, or REVOKED`.
        - Also the Verifiable Presentation itself may be unsigned (i.e., submitted without a proof section). This supports online sharing scenarios, such as transmitting large VCs via QR codes (DataShare), where including a cryptographic proof may not be feasible.

        From `0.17.x` onwards,

        - Added a new attribute `acceptVPWithoutHolderProof` in the `/vp-request` request body.
        - If this is `true`, then Verifiable Presentation submmited by the wallet can be unsigned (without proof).
        - If this is `false`, then the Verifiable Presentation submmited by the wallet cannot be unsigned (without proof). And if wallet submits Verifiable Presentation without proof, the the `/vp-results` endpoint will throw an error.
        - V2 Version of `/vp-results` endpoint has been added which verifies a Verifiable Presentation (VP) identified by the provided `transactionId` and returns a detailed, structured verification result for the Verifiable Presentation and for each Verifiable Credential (VC) contained within it.
      tags:
        - VP Results
      responses:
        '200':
          description: 'This response indicates that the submission results were successfully retrieved. The response includes the overall `vpResultStatus` and an array of `vcResults`, with each entry providing the verification status of an individual Verifiable Credential (VC).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpTokenResult'
              examples:
                successful_submission:
                  summary: A successful VP submission result
                  value:
                    transactionId: txn_abc123
                    vpResultStatus: SUCCESS
                    vcResults:
                      - vc: '{...}'
                        verificationStatus: SUCCESS
                failed_submission:
                  summary: A failed VP submission result
                  value:
                    transactionId: txn_def456
                    vpResultStatus: FAILED
                    vcResults:
                      - vc: '{...}'
                        verificationStatus: INVALID
        '404':
          description: |-
            This response indicates that an `error` occurred during the Verifiable Presentation (VP) request processing in the wallet, which is sent to the Verifier.
            Clients can use this information to display the outcome or status of the VP request to the end user.
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    error: string
                    errorDescription: string
                required:
                  - error
                properties:
                  error:
                    type: string
                    description: The error code sent by the wallet during VP submission
                  errorDescription:
                    type: string
                    description: The optional error message
        '500':
          description: 'In certain cases, the API may return a 500 Internal Server Error. This can occur if a runtime exception is encountered during VC verification or if an error occurs while performing the credential status (revocation) check. When such errors arise, the API returns a response body describing the issue along with the 500 status code.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    timestamp: '2025-12-03T10:52:43.747423Z'
                    status: 500
                    path: /v1/verify/vc-verification
                    error: 'STATUS_RETRIEVAL_ERROR - Retrieval of the status list failed: Network request failed with error response'
                properties:
                  timestamp:
                    type: string
                    description: Timestamp of the response
                  status:
                    type: integer
                    description: Status code 500
                  path:
                    type: string
                    description: Path of endpoint
                  error:
                    type: string
                    description: Error details message
      operationId: get-vp-result-requestId-presentations
      x-internal: true
  '/v2/vp-results/{transactionId}':
    post:
      summary: Get the VP results for a  given Transaction Id (V2)
      description: |-
        ## Description
        This endpoint was introduced in `0.17.0` version. 

        This endpoint verifies a Verifiable Presentation (VP) identified by the provided `transactionId` and returns a detailed, structured
        verification result for the Verifiable Presentation and for each Verifiable 
        Credential (VC) contained within it.

        The verification process is performed in the following stages:

        1. Credential Schema and Signature Verification
            - Each credential in the VP is independently validated for:
                - Structural correctness
                - Cryptographic signature integrity
            - If this validation fails for a credential:
                - No further checks are executed for that credential
                - expiryCheck will be null
                - statusChecks will be empty
                - claims will be an empty JSON object

        2. Credential Expiry Validation
            - Performed only when schema and signature verification succeeds.
            - Determines whether the credential is expired.
            - A credential may be cryptographically valid but expired.
            - Expiry failure does not prevent claims extraction.

        3. Credential Status Checks (Optional)
            - Performs issuer-defined status checks such as revocation or suspension.
            - Status checks are skipped entirely when `skipStatusChecks=true`.
            - If `statusCheckFilters` is empty, all status checks supported by the
              credential are performed.
            - If `statusCheckFilters` contains purposes not supported by the credential,
              those purposes are ignored without error.

        4. Holder Proof Verification
            - Validates that the VP was cryptographically bound to the holder.
            - The behavior is format-specific:
                - JSON-LD:
                    - Verifies the Verifiable Presentation signature.
                    - If holder proof verification was explicitly skipped during
                      VP request creation by seting `acceptVPWithoutHolderProof=true`, `holderProofCheck` will be null.
                - SD-JWT:
                    - Verifies the Key Binding JWT (KB-JWT) when supported.
                    - If KB-JWT verification is not supported by the verifier,
                      holderProofCheck will be null.
                - CWT:
                    - Holder proof verification is not currently supported and
                      holderProofCheck will be null.
            - If holder proof verification fails, the corresponding credential
              result will be marked as invalid.
          
        5. Claims Extraction (Optional)
            - Claims are extracted only when includeClaims=true and
              schema and signature verification succeeds.
            - Claims are extracted even if:
                - the credential is expired, or
                - one or more status checks fail.
            - If a credential is invalid, claims will be returned as an empty
              JSON object.

        Aggregated Results:
        - `allChecksSuccessful` at the top level is true only if
          all credentials in the presentation have `allChecksSuccessful=true`.
        - Verification of one credential does not affect verification of others.

        Supported credential formats include JSON-LD, SD-JWT, and CWT.

        This endpoint does not support VC submission or storage functionality.
        Legacy VC submission behavior remains available only in earlier API versions.

        Runtime exceptions thrown by the underlying verification libraries
        are propagated as HTTP 500 Internal Server Error responses.
      operationId: verifyVPResultsV2
      tags:
        - VP Results
      parameters:
        - name: transactionId
          in: path
          required: true
          description: Unique transaction identifier generated during VP flow
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2VpVerificationRequest'
      responses:
        '200':
          description: Detailed VP verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpVerificationResponse'
        '404':
          description: |-
            This response indicates that an `error` occurred during the Verifiable Presentation (VP) request processing in the wallet, which is sent to the Verifier.
            Clients can use this information to display the outcome or status of the VP request to the end user.
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    error: string
                    errorDescription: string
                required:
                  - error
                properties:
                  error:
                    type: string
                    description: The error code sent by the wallet during VP submission
                  errorDescription:
                    type: string
                    description: The optional error message
        '500':
          description: Internal server error
      x-stoplight:
        id: mtwcvmeae79qe
      x-internal: true
  /vp-session-results:
    post:
      summary: Get the VP session results for a  given Transaction Id (Cookie) and response_code
      description: "## Description\n\nRetrieves detailed verification results for a Verifiable Presentation (VP) session.\n\n**The request & response body is the similar to `/v2/vp-results/{transaction_id}`.**\n\nThis is the primary endpoint now used by` @injistack/react-inji-verify-sdk`\nfor all flows (same-device and cross-device), replacing `/vp-result/{transactionId}`\n\nThe session is identified using a **`base64Encoded_transaction_id` cookie** (required).  \nIf the cookie is missing or invalid, the API returns **401 Unauthorized**.\n\nIf the corresponding Auth Request has`responseCodeValidationRequired=true`, a **`response_code`** must be provided and must be:\n- Valid  \n- Not expired  \n- Not previously used  \n\nAfter processing, the session cookie is cleared to prevent reuse.\n\n---\n\n## \U0001F9FE Request Body\n\nOptional parameters to control processing:\n\n- **response_code**: Required only if validation is enabled  \n- **skipStatusChecks**: Skip all credential status checks  \n- **statusCheckFilters**: Run only selected checks (`revocation`, `suspension`)  \n- **includeClaims**: Include credential claims in response  \n\n---\n\n## \U0001F501 Processing Logic\n\n1. Extract `transaction_id` from cookie  \n2. Check if `response_code` validation is required  \n\n- If **not required** → process request directly  \n- If **required**:\n  - With `response_code` → validate and process  \n  - Without `response_code` → return error  \n\n---\n\n## \U0001F36A Session Handling\n\n- `transaction_id` cookie is mandatory  \n- Issued during VP request flow  \n- Cleared after response to prevent reuse  \n\n---\n\n## \U0001F4E6 Response\n\nReturns verification results including:\n- Overall success status  \n- Per-credential validation details  \n- Optional claims  \n\n---\n"
      operationId: getVpSessionResults
      tags:
        - VP Results
      parameters:
        - name: transaction_id
          in: cookie
          required: true
          schema:
            type: string
          description: Base64Encoded Transaction ID from VP request
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpVerificationSessionRequest'
      responses:
        '200':
          description: Detailed VP verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpVerificationResponse'
        '401':
          description: |
            The endpoint returns 401 Unauthorized with error code `VP_SESSION_INVALID` when the cookie is missing or empty.
        '404':
          description: |-
            This response indicates that an `error` occurred during the Verifiable Presentation (VP) request processing in the wallet, which is sent to the Verifier.
            Clients can use this information to display the outcome or status of the VP request to the end user.
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    error: string
                    errorDescription: string
                required:
                  - error
                properties:
                  error:
                    type: string
                    description: The error code sent by the wallet during VP submission
                  errorDescription:
                    type: string
                    description: The optional error message
        '500':
          description: Internal server error
  '/vp-definition/{id}':
    parameters:
      - schema:
          type: string
        name: id
        description: The Presentation Definition Id for which you want to get the Presentation Definition for.
        in: path
        required: true
    get:
      summary: Get the Presentation Definition
      description: |-
        ## Description
        This API allows a user to fetch a previously stored or referenced presentation definition. A presentation definition outlines the specific data requirements for a VP, such as the required credential types and their constraints.
      tags:
        - Presentation Definition Management
      responses:
        '200':
          description: The presentation definition was found and is returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresentationDefinition'
              example:
                id: age_verification_1
                input_descriptors:
                  - id: age_credential
                    format:
                      jwt_vc: {}
                    constraints:
                      fields:
                        - path:
                            - $.vc.credentialSubject.age
                          filter:
                            type: number
                            minimum: 18
        '404':
          description: A presentation definition with the specified ID does not exist.
      operationId: get-presentation-id
  /vc-verification:
    post:
      summary: Verify a Verifiable Credential
      description: |-
        ## Description
        This API performs server-side verification of a Verifiable Credential (VC) to validate its integrity and authenticity. It executes checks such as cryptographic signature validation and ensures that the credential has not been altered or tampered with.
        The verification status returned can be `SUCCESS, INVALID, or EXPIRED`.

        **Version-specific behavior:**

        From `0.15.x` onwards, 
        - This endpoint supports verification of both JSON-LD and SD-JWT formatted VCs.
        - To verify a JSON-LD VC, set the request header: `Content-Type: application/vc+ld+json`
        - To verify an SD-JWT VC, set the request header: `Content-Type: application/vc+sd-jwt`

        From `0.16.x` onwards, 
        - This endpoint also performs revocation checks for JSON-LD credentials. 
        - When a credential is found to be revoked, the verification status will be `REVOKED`.
        - If a runtime exception is encountered during VC verification or if an error occurs while performing the credential status (revocation) check, in theses cases, this endpoint may return a 500 Internal Server Error. 

        From `0.17.x` onwards, 
        - This endpoint also supports verification of CWT (CBOR Web Token with Claim 169 mapped fields) format VCs.
        - To verify a CWT VC, set the request header: `Content-Type: application/vc+cwt` and VC should be sent as HEX value of CBOR.
        - V2 Version of `/vc-verification` endpoint has been added which performs verification of a credential and returns a detailed breakdown of verification results instead of a single final status.
      operationId: vc-verification
      tags:
        - VC Verification
      requestBody:
        required: true
        content:
          application/vc+ld+json:
            schema:
              $ref: '#/components/schemas/VCVerificationRequest'
            examples:
              example:
                summary: Example JSON LD format VC to be verified
                value:
                  vc:
                    '@context':
                      - 'https://www.w3.org/2018/credentials/v1'
                    type:
                      - VerifiableCredential
                      - AgeCredential
                    issuer: 'did:web:example.com'
                    issuanceDate: '2023-01-01T00:00:00Z'
                    credentialSubject:
                      id: 'did:example:123'
                      age: 25
                    proof:
                      type: Ed25519Signature2020
                      created: '2023-01-01T00:00:00Z'
                      verificationMethod: 'did:web:example.com#key-1'
                      proofPurpose: assertionMethod
                      jws: eyJhbGciOiJFZERTQSJ9.eyJpYXQiOiIwMjMxMTIzMTIzMTMiLCJ...signature
          application/vc+sd-jwt:
            schema:
              $ref: '#/components/schemas/VCVerificationSDJWTRequest'
            examples:
              example:
                summary: Example SD-JWT format VC to be verified
                value:
                  vc: eyJhbGciOiJFZERTQSJ9.eyJpYXQiOiIwMjMxMTIzMTIzMTMiLCJ...signature
          application/vc+cwt:
            schema:
              $ref: '#/components/schemas/VCVerificationCWTRequest'
            examples:
              example:
                summary: Example hex-encoded CWT to be verified
                value:
                  vc: d83dd2845831a2012604582b4b52394b495f49386443
        description: The Verifiable Credential to be verified.
      responses:
        '200':
          description: |-
            The VC verification status indicates the result of validating each credential. The verificationStatus field can be `SUCCESS, EXPIRED, or INVALID`.

            Starting with version `1.6.0`, an additional status, `REVOKED`, is returned when a credential has been explicitly revoked by its issuer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCVerificationResult'
              examples:
                success:
                  summary: A successful verification result
                  value:
                    verificationStatus: SUCCESS
                invalid:
                  summary: Invalid verification result
                  value:
                    verificationStatus: INVALID
                expired:
                  summary: Expired verification result
                  value:
                    verificationStatus: EXPIRED
                revoked:
                  summary: Revoked verification result
                  value:
                    verificationStatus: REVOKED
        '400':
          description: The request body format is invalid.
        '500':
          description: 'In certain cases, the API may return a 500 Internal Server Error. This can occur if a runtime exception is encountered during VC verification or if an error occurs while performing the credential status (revocation) check. When such errors arise, the API returns a response body describing the issue along with the 500 status code.'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    timestamp: '2025-12-03T10:52:43.747423Z'
                    status: 500
                    path: /v1/verify/vc-verification
                    error: 'STATUS_RETRIEVAL_ERROR - Retrieval of the status list failed: Network request failed with error response - Failed to connect to localhost/[0:0:0:0:0:0:0:1]:8090'
                properties:
                  timestamp:
                    type: string
                    description: Timestamp of the response
                  status:
                    type: integer
                    description: Status code 500
                  path:
                    type: string
                    description: Path of endpoint
                  error:
                    type: string
                    description: Error details message
              examples:
                Example 1:
                  value:
                    timestamp: '2025-12-03T10:52:43.747423Z'
                    status: 500
                    path: /v1/verify/vc-verification
                    error: 'STATUS_RETRIEVAL_ERROR - Retrieval of the status list failed: Network request failed with error response'
  /v2/vc-verification:
    post:
      summary: Verify a Verifiable Credential (V2)
      description: |
        ## Description
        This endpoint was introduced in `0.17.0` version. 

        Verifies a single Verifiable Credential (VC) and returns a detailed
        breakdown of verification results instead of a single final status.

        The verification process is executed in the following order:

        1. Schema and Signature Verification
           - Validates credential structure and cryptographic signature.
           - If this check fails, no further checks are executed.
           - expiryCheck will be null, statusChecks will be empty,
             and claims will not be extracted.

        2. Expiry Check
           - Performed only when schema and signature verification succeeds.
           - Determines whether the credential is expired.
           - A credential may be cryptographically valid but expired.
           - Expiry failure does not prevent claims extraction.

        3. Credential Status Checks (Optional)
           - Includes revocation, suspension, or other issuer-defined purposes.
           - Skipped entirely when skipStatusChecks=true.
           - If statusCheckFilters is empty, all supported status checks
             are performed.
           - Unsupported or missing status purposes are ignored without error.
          
        4. Claims Extraction (Optional)
           - Performed only when includeClaims=true and
             schema and signature verification succeeds.
           - Claims are extracted even if expiry or status checks fail.
           - If the credential is invalid, an empty JSON object is returned.

        The response contains:
        - Individual results for each verification step
        - Structured error codes and messages
        - A computed `allChecksSuccessful` flag

        Supported credential formats:
        - JSON-LD
        - CWT (CBOR Web Token with Claim 169 mapped fields)
        - SD-JWT

        Runtime exceptions thrown by the underlying `vc-verifier` library
        are propagated as HTTP 500 responses.
      operationId: verifyVCV2
      tags:
        - VC Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VcVerificationRequest'
      responses:
        '200':
          description: Detailed VC verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VcVerificationResponse'
        '400':
          description: Invalid request payload
        '500':
          description: Internal server error
  /well-known/did.json:
    post:
      summary: Get the DID document
      description: |-
        ## Description
        This endpoint is part of a standard DID discovery mechanism, following the .well-known pattern. It is used to retrieve a DID (Decentralized Identifier) document for a given DID. A DID document contains crucial information for interacting with a DID, including public keys for authentication and service endpoints. This is introduced in version *0.14.x*.
      tags:
        - VP Request
      responses:
        '200':
          description: The DID document was successfully found and returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DIDDocument'
              example:
                '@context':
                  - 'https://www.w3.org/ns/did/v1'
                  - 'https://w3id.org/security/suites/ed25519-2020/v1'
                id: 'did:example:123456789abcdefghi'
                verificationMethod:
                  - id: 'did:example:123456789abcdefghi#keys-1'
                    type: Ed25519VerificationKey2020
                    controller: 'did:example:123456789abcdefghi'
                    publicKeyMultibase: z6MkhPCXw1tV8wR2rWqC2kF7zX9b2D9M9m3yD5rN2J2F7zW
                authentication:
                  - '#keys-1'
                service:
                  - id: 'did:example:123456789abcdefghi#didcomm-1'
                    type: DIDCommMessaging
                    serviceEndpoint: 'https://example.com/didcomm'
                    routingKeys:
                      - 'did:example:123456789abcdefghi#key-agreements-1'
                    accept:
                      - didcomm/v2
        '500':
          description: The DID Document creation failed due to an internal server error.
      operationId: get-did-json
components:
  schemas:
    DIDDocument:
      type: object
      description: |
        A DID Document is a JSON-LD document that describes a Decentralized Identifier (DID),
        including its associated public keys, authentication methods, services, and other
        relevant information. It enables trust and verifiable interactions.
      properties:
        '@context':
          type: array
          items:
            type: string
          description: |
            The JSON-LD context for the DID Document. This specifies the terms and their definitions used within the document, often including "https://www.w3.org/ns/did/v1" and other relevant contexts (e.g., for security vocabularies).
          example:
            - 'https://www.w3.org/ns/did/v1'
            - 'https://w3id.org/security/suites/jws-2020/v1'
            - 'https://w3id.org/security/suites/ed25519-2020/v1'
        id:
          type: string
          description: The Decentralized Identifier (DID) that this DID Document describes.
          pattern: '^did:[a-z0-9]+:.*$'
          example: 'did:example:123456789'
        verificationMethod:
          type: array
          items:
            $ref: '#/components/schemas/VerificationMethod'
          description: 'A set of verification methods (e.g., public keys) that can be used to verify digital signatures and other proofs made by the DID subject.'
          example:
            - id: 'did:example:123#keys-1'
              type: Ed25519VerificationKey2020
              controller: 'did:example:123'
              publicKeyMultibase: z6MkhPCXw1tV8wR2rWqC2kF7zX9b2D9M9m3yD5rN2J2F7zW
        assertionMethod:
          type: array
          items:
            oneOf:
              - type: string
                description: Reference to a verification method by its ID.
              - $ref: '#/components/schemas/VerificationMethod'
          description: |
            A set of verification methods used to assert claims about the DID subject. Can be a full `VerificationMethod` object or a string reference to one.
          example:
            - '#keys-1'
        controller:
          oneOf:
            - type: string
              description: The DID of a controller that can manage this DID Document.
            - type: array
              items:
                type: string
              description: An array of DIDs of controllers that can manage this DID Document.
          description: |
            A DID (or set of DIDs) that are authorized to manage this DID Document. If not present, the DID itself is assumed to be the controller.
          example: 'did:example:controller123'
    VerificationMethod:
      type: object
      description: |
        A verification method represents a public key or other cryptographic material that can be used for various verification purposes.
      required:
        - id
        - type
        - controller
      properties:
        id:
          type: string
          description: 'A unique identifier for the verification method within the DID Document, typically a fragment appended to the DID.'
          example: 'did:example:123#keys-1'
        type:
          type: string
          description: |
            The type of verification method, indicating the cryptographic suite. Examples include "Ed25519VerificationKey2020", "JsonWebKey2020", "Secp256k1VerificationKey2018".
          example: Ed25519VerificationKey2020
        controller:
          type: string
          description: The DID that is authorized to use this verification method.
          example: 'did:example:123'
        publicKeyMultibase:
          type: string
          description: |
            The public key expressed in Multibase format. This is a common way to encode public keys for different cryptographic curves.
          example: z6MkhPCXw1tV8wR2rWqC2kF7zX9b2D9M9m3yD5rN2J2F7zW
        publicKeyJwk:
          type: object
          description: |
            The public key expressed as a JSON Web Key (JWK) object. This is suitable for various cryptographic algorithms.
          properties:
            kty:
              type: string
              description: 'Key Type (e.g., ''OKP'' for Octet Key Pair, ''EC'' for Elliptic Curve)'
            crv:
              type: string
              description: 'Curve (e.g., ''Ed25519'', ''P-256'', ''secp256k1'')'
            x:
              type: string
              description: 'x coordinate for EC keys, or public key for OKP (Multibase encoded)'
            'y':
              type: string
              description: y coordinate for EC keys
          example:
            kty: OKP
            crv: Ed25519
            x: VCx2-2S5m0d_n0SgN84G2z2c5J1L0x0W0t0P0A0E0C0M
    VPRequestCreate:
      type: object
      required:
        - clientId
      allOf:
        - oneOf:
            - required:
                - presentationDefinitionId
            - required:
                - presentationDefinition
      properties:
        clientId:
          type: string
          description: ID of the client asking to create a new Verifiable Presentation request. This identifies the verifier application.
          example: client123
        acceptVPWithoutHolderProof:
          type: boolean
          description: 'If this is `true`, then Verifiable Presentation Token submmited by the wallet can be unsigned (without proof).Default value is false.'
          example: false
        responseCodeValidationRequired:
          type: boolean
          description: 'If true, `/vp-submission` returns `redirect_uri` with `response_code`. If false, `/vp-submission` returns **HTTP `200 OK` only**'
          example: false
        presentationDefinitionId:
          type: string
          description: Either presentationDefinitionId or presentationDefinition should be passed. A predefined presentation definition Id so that the user does not need to pass the presentation definition.
          example: age_verification
        presentationDefinition:
          $ref: '#/components/schemas/PresentationDefinition'
          description: 'The complete presentation definition object that specifies the requirements for the verifiable presentation, including the format and content of the verifiable credentials.'
          example:
            id: age_verification
            input_descriptors:
              - id: age_credential
                format:
                  jwt_vc: {}
                constraints:
                  fields:
                    - path:
                        - $.vc.credentialSubject.age
                      filter:
                        type: number
                        minimum: 18
        transactionId:
          description: A unique id of the verifiable presentation request transaction. This is optional and will be generated on server if not passed. It is used to track the overall session.
          type: string
          example: txn_abc123
    VPRequestResponseByReference:
      type: object
      required:
        - requestUri
      properties:
        transactionId:
          description: 'A unique id of the verifiable presentation request transaction, used to correlate the entire interaction from request to result.'
          type: string
          example: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
        requestId:
          type: string
          description: A unique id of the verifiable presentation request. It is a more specific identifier for the authorization request itself.
          example: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
        requestUri:
          description: 'The URL to fetch the verifiable presentation request, a common pattern in cross-device flows.'
          type: string
          format: uri
          example: 'https://example.com/vp-requests/6d538e1b-2615-4927-bfd2-094e9f73f2a1'
        expiresAt:
          type: integer
          format: int64
          description: Expiry of a transaction as a Unix timestamp (seconds since epoch). This indicates how long the request is valid.
          example: 1752838929
    VPRequestResponse:
      type: object
      required:
        - authorizationDetails
      properties:
        transactionId:
          description: A unique id of the verifiable presentation request transaction.
          type: string
          example: 'urn:uuid:f82f281e-8d96-419b-b413-5a0459739a7b'
        requestId:
          type: string
          description: A unique id of the verifiable presentation request.
          example: 'urn:uuid:6d538e1b-2615-4927-bfd2-094e9f73f2a1'
        authorizationDetails:
          $ref: '#/components/schemas/AuthorizationRequestResponse'
        expiresAt:
          type: integer
          description: Expiry of a transaction. Defaults to 5 minutes from creation of auth request. This is the timestamp after which the request is considered no longer active.
          example: 1752838929
    status:
      type: object
      description: Status of the verifiable presentation request transaction
      properties:
        status:
          type: string
          description: 'The current status of the verifiable presentation request transaction, indicating its state in the verification process.'
          enum:
            - ACTIVE
            - VP_SUBMITTED
            - EXPIRED
          example: ACTIVE
    verificationStatus:
      type: string
      description: 'The status of the verifiable VC verification, indicating whether the VC''s signature and integrity are valid.'
      enum:
        - SUCCESS
        - EXPIRED
        - INVALID
        - REVOKED
      example: SUCCESS
    AuthorizationResponse:
      type: object
      required:
        - state
      properties:
        vp_token:
          type: string
          nullable: true
          description: 'The `vp_token` should be null, when there in an `error`. JSON String or JSON object that MUST contain a single Verifiable Presentation or an array of JSON Strings and JSON objects each of them containing a Verifiable Presentations. This is the core payload submitted by the wallet.'
          example: eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJ2cCI6eyJAY29udGV4dCI6WyJodHRwczovL3d3dy53My5vcmcvMjAxOC9jcmVkZW50aWFscy92MSJdLCJ0eXBlIjpbIlZlcmlmaWFibGVQcmVzZW50YXRpb24iXSwidmVyaWZpYWJsZUNyZWRlbnRpYWwiOlsiZXlKaGJHY2lPaUpGVXpJMU5pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmhkV1FpT2lKb2RIUndjem92TDNabGNtbG1lUzVrWlhZeExtMXZjMmx3TG01bGRDOXlaWE53YjI1elpYTWlMQ0pqYkdGcGJYTWlPbnNpWVdkbElqb3hPSDBzSW1semN5STZJbWgwZEhCek9pOHZkbVZ5YVdaNUxtUmxkakV1Ylc5emFYQXVibVYwTDJselozSmhiblJsY25NaUxDSnVZbVlpT2pFMk9ESTVOekF3TURBc0ltVjRjQ0k2TVRjd05qazNNREF3TUgwLnNpZ25hdHVyZSJdfSwibm9uY2UiOiJub25jZV8xMjM0NSIsImF1ZCI6ImNsaWVudDEyMyJ9.signature
        state:
          type: string
          description: The `requestId` created for the transaction. It is used to link the authorization response back to the original request.
          example: req_6d538e1b-2615-4927-bfd2-094e9f73f2a1
        error:
          type: string
          nullable: true
          description: 'The `error` should be null, when there is no error. It has the the error code for the transaction sent by the wallet. '
          example: invalid_scope
        error_description:
          type: string
          nullable: true
          description: Optional error message for the transaction sent by the wallet. It can be null when there is no `error`.
          example: Something went wrong with the request configuration.
        presentation_submission:
          type: object
          nullable: true
          description: 'The `presentation_submission` should be null, when there in an `error`.'
          required:
            - id
            - definition_id
            - descriptor_map
          properties:
            id:
              type: string
              description: Unique ID for mapping verifiable presentation.
              example: submission_12345
            definition_id:
              description: Unique ID for mapping verifiable presentation definition.
              type: string
              example: age_verification_1
            descriptor_map:
              type: array
              description: A structured object containing details on how the VCs in the vp_token map to the original presentation_definition. It ensures the verifier knows which credential corresponds to which requirement.
              items:
                $ref: '#/components/schemas/DescriptorMap'
              example:
                - id: age_credential
                  format: jwt_vc
                  path: '$.verifiableCredential[0]'
    DescriptorMap:
      type: object
      required:
        - id
        - format
        - path
      properties:
        id:
          type: string
          description: 'ID of the descriptor map, which links a specific submitted credential to a required input descriptor in the presentation definition.'
          example: age_credential
        format:
          type: string
          description: Format of the verifiable presentation.
          example: jwt_vc
        path:
          type: string
          description: The root path within the verifiable presentation where the credential can be found.
          example: '$.verifiableCredential[0]'
        path_nested:
          $ref: '#/components/schemas/PathNested'
          description: 'Contains nested path for each verifiable presentation, allowing for precise location of specific fields.'
          example:
            format: jwt_vc
            path: $.vc.credentialSubject.age
    PathNested:
      type: object
      description: Contains nested path for each verifiable presentation
      required:
        - format
        - path
      properties:
        format:
          type: string
          description: 'Format of the verifiable presentation, indicating the data structure.'
          example: jwt_vc
        path:
          type: string
          description: The JSONPath string of the field in the verifiable presentation.
          example: $.vc.credentialSubject.age
    AuthorizationRequestResponse:
      title: AuthorizationRequestResponse
      type: object
      properties:
        responseUri:
          type: string
          description: 'The URL for the wallet to submit the verifiable presentation,  when `response_mode` is `direct_post`.'
          format: uri
          example: 'https://injiverify.collab.mosip.net/v1/verify/vp-submission/direct-post'
        responseType:
          type: string
          description: 'The response type of the verifiable presentation, typically vp_token.'
          example: vp_token
        responseMode:
          type: string
          description: 'The response mode of the verifiable presentation submission (e.g., direct_post).'
          example: direct_post
        clientId:
          type: string
          description: The client ID of the verifier.
          example: client123
        nonce:
          type: string
          description: A cryptographic nonce used to securely bind the Verifiable Presentation(s) provided by the Wallet to the particular transaction.
          example: aShdFjAhdSFJlKasdF
        presentationDefinition:
          $ref: '#/components/schemas/PresentationDefinition'
          description: The presentation definition object that details the specific credential requirements.
          example:
            id: age_verification
            input_descriptors:
              - id: age_credential
                format:
                  jwt_vc: {}
                constraints:
                  fields:
                    - path:
                        - $.vc.credentialSubject.age
                      filter:
                        type: number
                        minimum: 18
        iat:
          type: integer
          format: unixtime
          description: 'Issued time, a Unix timestamp indicating when the request was generated.'
          example: 1752838929
    VCSubmissionRequest:
      title: VCSubmissionRequest
      type: object
      required:
        - vc
      properties:
        vc:
          type: object
          description: 'The complete Verifiable Credential to be submitted. This object contains the subject''s claims, issuer information, and cryptographic proof.'
          example:
            '@context':
              - 'https://www.w3.org/2018/credentials/v1'
            type:
              - VerifiableCredential
              - UniversityDegreeCredential
            issuer: 'did:example:7654321'
            issuanceDate: '2023-04-10T00:00:00Z'
            credentialSubject:
              id: 'did:example:1234567'
              degree:
                type: BachelorDegree
                name: Computer Science
            proof:
              type: Ed25519Signature2018
              created: '2023-04-10T00:00:00Z'
              verificationMethod: 'did:example:7654321#keys-1'
              proofPurpose: assertionMethod
              jws: eyJhbGciOiJFZERTQSJ9.eyJpYXQiOiIxNjQzMjMxNzgzIiwic3ViI...
        transactionId:
          type: string
          description: 'Optional transaction ID; if not provided, one will be generated by the server. This allows for tracking the submission.'
          example: txn_abc123
    VCSubmissionResponse:
      title: VCSubmissionResponse
      type: object
      required:
        - transactionId
      properties:
        transactionId:
          type: string
          description: 'The unique transaction ID assigned to the VC submission, used to retrieve the result.'
          example: txn_abc123
    PresentationDefinition:
      title: PresentationDefinition
      required:
        - id
        - input_descriptors
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the presentation definition.
          example: age_verification
        input_descriptors:
          type: array
          items:
            $ref: '#/components/schemas/InputDescriptors'
          description: 'An array of objects, where each object describes a specific credential or data requirement that the verifier is requesting from the holder.'
          example:
            - id: age_credential
              name: Age Credential
              purpose: Please provide a credential that proves you are 18 or older.
              format:
                jwt_vc: {}
              constraints:
                fields:
                  - path:
                      - $.vc.credentialSubject.age
                    filter:
                      type: number
                      minimum: 18
        submission_requirements:
          type: array
          items:
            $ref: '#/components/schemas/SubmissionRequirements'
          description: 'An optional array of objects that specify how the input descriptors must be fulfilled (e.g., "all" must be submitted, or "any" of a group).'
          example:
            - id: submission_req_1
              rule: all
              count: 1
              from: 'input_descriptors[0]'
    SubmissionRequirements:
      title: SubmissionRequirements
      required:
        - id
      type: object
      properties:
        name:
          type: string
          description: A human-readable name for the submission requirement.
          example: Age Verification Submission
        rule:
          type: string
          description: 'The rule for fulfillment (e.g., ''all'' or ''any'' of the specified descriptors).'
          example: all
        count:
          type: integer
          description: The number of credentials required to satisfy the rule.
          example: 1
        from:
          type: string
          description: A pointer to the 'input_descriptors' array to which this rule applies.
          example: 'input_descriptors[0]'
    InputDescriptors:
      title: InputDescriptors
      type: object
      properties:
        id:
          type: string
          description: A unique ID for the input descriptor.
          example: age_credential
        group:
          type: array
          items:
            type: string
          description: An optional array of strings that can be used to group related input descriptors.
          example:
            - age_group_1
        format:
          type: object
          description: 'The format of the required verifiable credential (e.g., jwt_vc).'
          example:
            jwt_vc: {}
        constraints:
          type: object
          description: 'A set of rules that the verifiable credential must satisfy, such as specific field values or data types.'
          properties:
            fields:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    description: A JSONPath string to a specific field within the VC.
                    example:
                      - $.vc.credentialSubject.age
                  filter:
                    type: object
                    description: An object containing JSON Schema-like filter rules for the field.
                    properties:
                      type:
                        type: string
                        description: The data type of the field to be verified.
                        example: number
                      pattern:
                        type: string
                        description: A regex pattern to match the field value.
                        example: '^[0-9]{2,}$'
                      minimum:
                        type: number
                        description: The minimum allowed value for the field.
                        example: 18
    VCVerificationResult:
      title: VCVerificationResult
      type: object
      properties:
        verificationStatus:
          $ref: '#/components/schemas/verificationStatus'
          description: 'The overall status of the VC verification process, indicating if the credential passed all integrity and validity checks.'
          example: SUCCESS
    VCVerificationRequest:
      title: VCVerificationRequest
      type: object
      properties:
        vc:
          type: object
          description: The complete verifiable credential object to be verified by the server.
          example:
            '@context':
              - 'https://www.w3.org/2018/credentials/v1'
            type:
              - VerifiableCredential
              - AgeCredential
            issuer: 'did:web:example.com'
            issuanceDate: '2023-01-01T00:00:00Z'
            credentialSubject:
              id: 'did:example:123'
              age: 25
            proof:
              type: Ed25519Signature2020
              created: '2023-01-01T00:00:00Z'
              verificationMethod: 'did:web:example.com#key-1'
              proofPurpose: assertionMethod
              jws: eyJhbGciOiJFZERTQSJ9.eyJpYXQiOiIwMjMxMTIzMTIzMTMiLCJ...signature
    VCVerificationSDJWTRequest:
      title: VCVerificationSDJWTRequest
      type: object
      required:
        - vc
      properties:
        vc:
          type: string
          description: The complete verifiable credential object to be verified by the server.
          example: eyJhbGciOiJFZERTQSJ9.eyJpYXQiOiIwMjMxMTIzMTIzMTMiLCJ...signature
    VCVerificationCWTRequest:
      title: VCVerificationCWTRequest
      x-stoplight:
        id: 23487178cda3e
      type: object
      required:
        - vc
      properties:
        vc:
          type: string
          description: Hex-encoded CWT (CBOR bytes) to be verified by the server.
          pattern: '^[0-9a-fA-F]+$'
          example: d83dd2845831a2012604
    VpTokenResult:
      title: VpTokenResult
      type: object
      properties:
        transactionId:
          type: string
          description: The transaction ID for the VP request for which the result needs to be fetched.
          example: txn_abc123
        vpResultStatus:
          type: string
          description: The overall status for the VP submission ('SUCCESS' or 'FAILED').
          enum:
            - SUCCESS
            - FAILED
          example: SUCCESS
        vcResults:
          type: array
          items:
            $ref: '#/components/schemas/VcResult'
          description: An array of verification results for each individual verifiable credential submitted.
          example:
            - vc: |
                {
                  "@context": ["https://www.w3.org/2018/credentials/v1"],
                  "type": ["VerifiableCredential", "AgeCredential"],
                  "issuer": "did:example:123",
                  "issuanceDate": "2023-01-01T00:00:00Z",
                  "credentialSubject": {
                    "id": "did:example:456",
                    "age": 25
                  },
                  "proof": {
                    "type": "Ed25519Signature2020",
                    "created": "2023-01-01T00:00:00Z",
                    "verificationMethod": "did:example:123#key-1",
                    "proofPurpose": "assertionMethod",
                    "jws": "eyJ...signature"
                  }
                }
              verificationStatus: SUCCESS
            - vc: |
                {
                  "@context": ["https://www.w3.org/2018/credentials/v1"],
                  "type": ["VerifiableCredential", "UniversityDegreeCredential"],
                  "issuer": "did:example:789",
                  "issuanceDate": "2023-04-10T00:00:00Z",
                  "credentialSubject": {
                    "id": "did:example:456",
                    "degree": {
                      "type": "BachelorDegree",
                      "name": "Computer Science"
                    }
                  },
                  "proof": {
                    "type": "Ed25519Signature2020",
                    "created": "2023-04-10T00:00:00Z",
                    "verificationMethod": "did:example:789#key-1",
                    "proofPurpose": "assertionMethod",
                    "jws": "eyJ...signature"
                  }
                }
              verificationStatus: SUCCESS
    VcResult:
      title: VcResult
      type: object
      description: A result object containing a submitted verifiable credential and its verification status.
      properties:
        vc:
          type: string
          description: The verifiable credential as a JSON string.
          example: |
            {
              "@context": ["https://www.w3.org/2018/credentials/v1"],
              "type": ["VerifiableCredential", "AgeCredential"],
              "issuer": "did:example:123",
              "issuanceDate": "2023-01-01T00:00:00Z",
              "credentialSubject": {
                "id": "did:example:456",
                "age": 25
              },
              "proof": {
                "type": "Ed25519Signature2020",
                "created": "2023-01-01T00:00:00Z",
                "verificationMethod": "did:example:123#key-1",
                "proofPurpose": "assertionMethod",
                "jws": "eyJ...signature"
              }
            }
        verificationStatus:
          $ref: '#/components/schemas/verificationStatus'
          description: The verification status of the specific VC.
          example: SUCCESS
    VcVerificationRequest:
      type: object
      required:
        - verifiableCredential
      properties:
        verifiableCredential:
          type: string
          description: 'Verifiable Credential to be verified (JSON-LD, CWT, SD-JWT). For CWT format send HEX value of CBOR.'
        skipStatusChecks:
          type: boolean
          default: false
          description: Skip all credential status checks when true
        statusCheckFilters:
          type: array
          description: |
            List of credential status check purposes to perform.
            Unsupported purposes are ignored.
          items:
            type: string
        includeClaims:
          type: boolean
          default: false
          description: Include extracted plain claims in the response
    V2VpVerificationRequest:
      type: object
      x-stoplight:
        id: 2662e7940e63a
      properties:
        skipStatusChecks:
          type: boolean
          default: false
          description: Skip all credential status checks when true
        statusCheckFilters:
          type: array
          description: |
            List of credential status check purposes to perform.
            Unsupported purposes are ignored.
          items:
            type: string
        includeClaims:
          type: boolean
          default: false
          description: Include extracted plain claims in the response
    VpVerificationSessionRequest:
      type: object
      properties:
        responseCode:
          type: string
          nullable: true
          description: 'The `response_code` from `redirect_uri`, for which VP results are to be retrieved. It can be null, if corresponding Auth Request was created with `responseCodeValidationRequired=false`'
        skipStatusChecks:
          type: boolean
          default: false
          description: Skip all credential status checks when true
        statusCheckFilters:
          type: array
          description: |
            List of credential status check purposes to perform.
            Unsupported purposes are ignored.
          items:
            type: string
        includeClaims:
          type: boolean
          default: false
          description: Include extracted plain claims in the response
    VcVerificationResponse:
      type: object
      properties:
        allChecksSuccessful:
          type: boolean
          description: |
            True only if schemaAndSignatureCheck, expiryCheck,
            and all status checks pass.
        schemaAndSignatureCheck:
          $ref: '#/components/schemas/ValidationResult'
        expiryCheck:
          $ref: '#/components/schemas/ExpiryCheckResult'
        statusChecks:
          type: array
          items:
            $ref: '#/components/schemas/StatusCheckResult'
        claims:
          type: object
          additionalProperties: true
    VpVerificationResponse:
      type: object
      properties:
        transactionId:
          type: string
        allChecksSuccessful:
          type: boolean
          description: |
            True only if `allChecksSuccessful` is true, for all the credentials.
        credentialResults:
          type: array
          items:
            $ref: '#/components/schemas/VpCredentialResult'
    VpCredentialResult:
      type: object
      properties:
        verifiableCredential:
          type: string
          description: full verifiable credential details
        allChecksSuccessful:
          type: boolean
          description: |
            True only if `schemaAndSignatureCheck`, `expiryCheck`,
            and all status checks pass.
        holderProofCheck:
          $ref: '#/components/schemas/HolderResult'
        schemaAndSignatureCheck:
          $ref: '#/components/schemas/ValidationResult'
        expiryCheck:
          $ref: '#/components/schemas/ExpiryCheckResult'
        statusChecks:
          type: array
          items:
            $ref: '#/components/schemas/StatusCheckResult'
        claims:
          type: object
          description: claims from the verifiable credential are extracted depending on the credential format
          additionalProperties: true
    HolderResult:
      type: object
      x-stoplight:
        id: 00c3a51c2168a
      nullable: true
      properties:
        valid:
          type: boolean
          description: 'true when holder proof check is successful, false if it fails'
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ValidationResult:
      type: object
      nullable: true
      properties:
        valid:
          type: boolean
          description: 'true when schema and signature are both valid for a credential, false if any check fails'
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ExpiryCheckResult:
      type: object
      nullable: true
      properties:
        valid:
          type: boolean
          description: 'true when credential is not expired, false when credential is expired'
    StatusCheckResult:
      type: object
      properties:
        purpose:
          type: string
        valid:
          type: boolean
          description: 'if status checks passes then this is true, otherwise false'
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      type: object
      nullable: true
      properties:
        code:
          type: string
          description: error code occured
        message:
          type: string
          description: error description
